/* Universal css */

h2{
    font-weight: 1000;
    font-size: 32px;
    margin: 30px 0 10 0;
    text-align: center;
}
h3{
    font-weight: 1000;
    font-size: 20px;
}
p, ul, li{
    font-size: 14px; 
}

html{
    scroll-behavior: smooth;
}

strong{
    font-size: 18px;
    font-weight: bold;
}

/* Navigation Bar */
.navigation-bar{
    position: fixed;
    text-align: center;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    /*background-color: rgba(156, 156, 156, 1.0);*/
    background-color: rgb(129, 129, 129);
    padding: 5px;
}
.nav-icons {
    font-size: 32px;
    color: rgb(255, 255, 255);
    padding: 5 15px;
    margin: 5 15px;
}
.nav-icons:hover {
    transition: background 0.5s, color 0.5s;
    transition-property: background, color;
    transition-duration: 0.5s, 0.5s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
    background-color: rgba(0,0,0, 0.6);
}

/* Setting a background picture */


body{
    font-family: 'Nunito', sans-serif;
}

/*
body #balloon{
    position: absolute;
    width: 200px;
    height: 300px;
    background-attachment: fixed;
}
*/



/* Title Card */
.main{
    overflow: visible;
    width: 100%;
}
.title-card-picture{
    /*background-image: url("Pictures/Korea.jpeg");*/
    background-image: url("Pictures/mountain.jpeg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    object-fit: cover;
    height: 100%;
    width: 100%;
    /* vertical-align: bottom; */
}
.title-card-text{
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 50%;
    width: 40%;
    color: black;
    background: rgba(156, 156, 156, 0.3);
    opacity: 0.8;
    min-width: 400px;
    font-size: 36px;
}


/* About Me */
.about{
    display: flex;
    padding: 15px;
    margin: 10 0 10 0;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: rgba(37, 37, 37, 0.1);
    /*
    box-sizing: border-box;
    border-bottom: 2px solid #000;
    */
}
.about #intro-picture{
    /* text-align: center; */
    margin: 20 30 0 35;
    text-align: center;
    flex: 1;
    justify-content: center;
}
.profile-picture{
    /* This is to edit just the profile picture */
    max-width: 350px;
    max-height: 220px;
    min-width:300px;
    min-height:200px;
    border-radius: 50px;
}
.about #intro-text{
    flex: 2;
    padding: 5px 30px 0 30px;
    margin: 5px;
    min-width: 300px;
    max-width: 60%;
    width: 50%;
}
#about-hr{
    width: 90%;
    border-bottom: 2px solid rgba(0,0,0);
}
#about-contact{
    margin: 15 0 0 0;
}
#about-margin{
    margin: 0;
}

#about-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#about-icon p{
    padding: 0 30 0 30;
    text-align: center;
}

.about h2{
    margin: 20 0 35 0;
}
/* Projects */





.projects{
    flex-direction: column;
    text-align: center;
    padding: 10 0 20 0;
    background-color: rgba(37, 37, 37, 0.1);
    /*background-color: rgba(255, 239, 197, 0.4); */
}

#project-link a{ 
    display: inline-block;
    margin: 5 30 0 30;
    color: rgb(76, 183, 255);
}

.grid-container{
    /*
    display: grid;
    grid-template-columns: minmax(350px, 1fr) minmax(350px, 1fr) minmax(350px, 1fr);
    grid-gap: 10px;
    */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.grid-item{
    flex: 1 0 20%;
    border: 3px solid;
    padding: 20px;
    margin: 15px;
    min-width: 350px;
    max-width: 20%;
    max-height: 550px;
    overflow: auto;
    transition: .3s;
    background-color: white;
}

.grid-item img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 300px;
    display: block;
}

.grid-item #project-points{
    padding: 10;
    text-align: left;
}

.grid-item:hover{
    transform: scale(1.05);
}




/* Technical Skill and Education */


.skill-education{
    display: flex;
    flex-direction: column;
    margin: 15px 0 0 0;
}

.language-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.language-skill{
    /* 
    order: 1; 
    width: 100%;
    text-align: center;
    */
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    padding: 10px;

}
.language-skill #level{
    flex: 1;
    text-align: center;
    min-width: 250px;
    /*
    overflow: hidden;
    border-radius: 50px;
    border: solid;
    margin: 10px;
    */

}
.language-icon{
    display: flex;
    flex-direction: horizontal;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 20px;
    padding: 15 0px;
    display: inline-block;
}

.skill-education hr{
    width: 90%;
    border-bottom: 2px solid rgba(0,0,0);
}


/* Education */




.education{
    left: 0;
    padding: 50px 0 0 0;
    text-align: center;
}
#school-courses{
    text-align: left;
    border: 2px solid;
    padding: 30px;
    margin: 20px;
    width: 70%;
}

#course-info{
    padding: 0 0 0 80;
}



#projects-hr{
    width: 90%;
    border-bottom: 2px solid rgba(0,0,0);
}

/* Work Experience*/


.work{
    text-align: center;
    margin: 0 5% 5% 5%;
}
.work #work-experience{
    text-align: left;
}

#work-history{
    margin: 0 0 0 5%;
    width: 70%;
    font-size: 16px;
}
#work-history h3{
    font-size: 24px;
}


.footer{
    background-color: rgb(129, 129, 129);
    color: white;
}

#footer-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer p{
    padding: 0 20 0 20;
}